{% extends "base.html" %}

{% block script %}
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        TextToSpeech();
    });

    function setUtterance(message, voice) {
        let utterance = new SpeechSynthesisUtterance(message);
        utterance.voice = voice;
		utterance.pitch = 2;
		utterance.rate = 1.2;
		utterance.volume = 0.9;
        return utterance;
		synthesis.speak(utterance);
    }

    function SayEmail(synthesis, voice, time) {
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition || null;
      	if (window.SpeechRecognition === null) {
            utterance = setUtterance('Sorry, but Speech Synthesis in not supported by your browser.', voice);
            synthesis.speak(utterance);
        } else {
            let recognizer = new window.SpeechRecognition();
        	recognizer.continuous = false;
			recognizer.lang = 'en-IN';
        	recognizer.onresult = function(event) {
                let resultString = '';
                for (let i = event.resultIndex; i < event.results.length; i++) {
                    if (event.results[i].isFinal) {
                        resultString = event.results[i][0].transcript;
                    }
                }
                let userEmail = '';

                let str = resultString.split(" ").join("")
                str = str.toLowerCase();
                if(str.includes('dot')) {
                    str = str.replace("dot", ".")
                }
                if(str.includes('taught')) {
                    str = str.replace("taught", ".")
                }
                if(str.includes('attherate')) {
                    str = str.replace("attherate", "@")
                }
                if(str.includes('atrate')) {
                    str = str.replace("atrate", "@")
                }
                userEmail =  str;

                $.post('/viewEmail', {user: userEmail}).done(function(data) {
                    data = JSON.parse(data);
                        if(data.from!="0") {
                            $(".recv_from").val(data.from);
                            $(".recv_subject").val(data.subject);
                            $(".recv_message").val(data.message);
                            utterance = setUtterance('Subject is '+data.subject, voice);
                            synthesis.speak(utterance);
                            utterance.onend = function(event) {
                                let utterance1 = setUtterance('Message Received As Follows: '+data.message, voice);
                                synthesis.speak(utterance1);
                                utterance1.onend = function(event) {
                                    window.location.replace("{{ url_for('main') }}");
                                }
                            }
                        } else {
                        console.log("Inside Else");
                        }
                    });
            }
            recognizer.onerror = function(event) {
                reUtterance(synthesis, voice,'Sorry for the inconvinence, some error occured. Please try again!');
                console.log('Error occurred in recognition: ' + event.error);
            }
            recognizer.start();

            function stopRecognition() {
                recognizer.stop();
            }
            setTimeout(stopRecognition, time);
        }
    }

    function TextToSpeech() {
        if ('speechSynthesis' in window) {
            let synthesis = window.speechSynthesis;
            synthesis.onvoiceschanged = function() {
			let voice = synthesis.getVoices().filter(function(voice) {
                return voice.name == 'Microsoft David Desktop - English (United States)';
            })[0];

            let utterance;
            utterance = setUtterance('Enter The User\'s Email Whose Email You Want To Read', voice);
            synthesis.speak(utterance);
            let redirectResult = 0;
            utterance.onend = function(event) {
                SayEmail(synthesis, voice, 9000);
            }
            }
        } else {
		    console.log('Text-to-speech not supported on this browser (or on your device).');
		}

    }

    function reUtterance(synthesis, voice, message) {
        let utterance = setUtterance(message, voice);
        synthesis.speak(utterance);
        utterance.onend = function(event) {
            let redirectResult = ReceiverEmail(synthesis, voice, 4000);
        }
    }

    $(document).ready(function () {
        $(".btn-send").on('click', function() {
            let to = $(".to").val();
            let subject = $(".subject").val();
            let message = $(".message").val();
            setTimeout(mailing, 5000)
            function mailing() {
                $.post('/sendEmail', {recipient: to, subject: subject, message: message}).done(function(data) {
                    if(data=='1') {
                        alert("Email Sent Successfully");
                        window.location.replace("{{ url_for('main') }}");
                    } else {
                        alert("Email Not Sent");
                        reUtterance(synthesis, voice,'Email Not Sent. Please try again!');
                    }
                });
                $(".to").val("");
                $(".subject").val("");
                $(".message").val("");
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh">
    <form class="card w-75" method="POST">
        <div class="card-header bg-dark text-white"><strong>View Mail</strong></div>
        <div class="card-body border border-dark">
            <div class=" d-flex align-items-center px-2">
                <span class="pr-4"> From </span>
                <textarea rows="1" name="recipient" autocomplete="false" autocapitalize="off" autocorrect="off"
                          tabindex="1" class="recv_from" style="width: 100%; border: none; outline: none; resize: none; font-size: 15px;"></textarea>
            </div>
            <hr style="width: 97%" />
            <div class=" d-flex align-items-center px-2">
                <span class="pr-4"> Subject </span>
                <textarea rows="1" name="subject" autocomplete="false" autocapitalize="off" autocorrect="off"
                          tabindex="1" class="recv_subject" style="width: 100%; border: none; outline: none; resize: none; font-size: 15px;"></textarea>
            </div>
            <hr style="width: 97%" />
            <div class=" d-flex align-items-center px-2">
                <textarea rows="7" name="message" autocomplete="false" autocapitalize="off" placeholder="Enter Your Email Message" autocorrect="off"
                          tabindex="1" class="recv_message" style="width: 100%; border: none; outline: none; resize: none; font-size: 15px;"></textarea>
            </div>
        </div>
    </form>
    </div>
{% endblock %}